from .base import *

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'usummit_dev',
        'USER': 'usummit_user',
        'PASSWORD': 'manager',
        'HOST': 'postgres',
        'PORT': '5432',
    }
}
